.selectBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  
    label {
      width: 130px;
      font-size: 14px;
  
      &:hover {
        cursor: pointer;
      }
    }
}

.select {
    width: 200px;
}

.required {
  color: #ff0000;
}

.errorMessage {
  color: #ff0000;
  font-size: 12px;
}