.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.input {
    max-width: 320px;
}

.notFound {
    color: #ffffff;
    opacity: 0.3;
}