.reviewForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputBox {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  label {
    width: 100px;
    font-size: 13px;
   
    &:hover {
      cursor: pointer;
    }
  }
}

.input {
  width: 300px;
}

.errorMessage {
  text-align: end;
  color: #ff0000;
  font-size: 12px;
}

.formSubmit {
  display: none;
}
