.settingParams {
  width: 100%;
  min-height: 80vh;
}

.container {
  position: relative;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 10px;
}

.leftButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.formBox {
  margin: 0 auto;
  padding: 15px 20px;
  border: 1px solid #c0c0c084;
  border-radius: 10px;
  transition: 0.5s;

  display: flex;
  flex-direction: column;
  gap: 20px;

  &:hover {
    background: #c0c0c03c;
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.emptyRow {
  width: 100%;
}

.titleRow {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0px;
}

.label {
  font-size: 16px;
  width: 150px;
  text-align: end;

  &:hover {
    cursor: pointer;
  }
}

.formSubmit {
  display: none;
}

.execBin {
  text-align: center;
  margin-top: 15px;
  color: #002140;
}

.warnBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  padding: 12px 20px 13px 20px;
  background-color: #2f54eb;

  position: fixed;
  bottom: 0;
  margin-left: -24px;
}

.warnText {
  width: 50%;
  margin-bottom: 0px;
  color: #ffffff;
  font-weight: 600;
}
