.header {
  border-bottom: 1px solid #c0c0c084;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 22px;
  font-weight: 600;

  margin-bottom: 0px;
}

.userBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.userName {
  margin-bottom: 0px;
}
