.footer {
    border-top: 1px solid #c0c0c084;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content {
    font-size: 12px;
    margin-bottom: 0px;
}