.container {
  min-height: 50vh;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reviewsBox {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.review {
  padding: 15px 20px;
  border: 1px solid #c0c0c084;
  border-radius: 10px;
  transition: 0.5s;

  display: flex;
  flex-direction: column;
  gap: 15px;

  &:hover {
    background: #c0c0c03c;
    .parentReview {
      background: #ffffff;
    }
  }
}

.reviewNameDateBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.reviewName {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  span {
    width: 72px;
    min-width: 72px;
    font-size: 13px;
    font-weight: 400;
  }

  p {
    max-width: 300px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
  }
}

.reviewDate {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  span {
    font-size: 13px;
    font-weight: 400;
  }

  p {
    width: 155px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
  }
}

.reviewDepartment {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c0c0c084;

  span {
    width: 72px;
    font-size: 13px;
    font-weight: 400;
  }

  p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
  }
}

.reviewText {
  font-size: 16px;
  font-weight: 600;

  margin-bottom: 0px;
}

.reviewButtonBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.parentReview {
  display: flex;
  flex-direction: column;
  gap: 5px;

  padding: 10px 15px;
  background: #c0c0c03c;
  transition: 0.5s;
  border-radius: 10px;
  border-left: 3px solid #000c17;
  cursor: pointer;
}

.foundedParentReview {
  background: #4096ff54;;
}

.parentReviewUserName {
  font-weight: 600;
  margin-bottom: 0px;
}
.parentReviewText {
  margin-bottom: 0px;
}

.empty {
  font-size: 16px;
  font-weight: 600;
}
